:root {
	--light: #ebd7c6;
	--bold: #738b84;
	--bold-brown: #e3d1bb;
	--brown: #a59281;
	--dark: #252020;

}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Quicksand', sans-serif;
	color: var(--brown);
}

p {
	letter-spacing: 3px;
}
::selection {
	background-color: rgba(81, 60, 44, 0.8);
	color: var(--light);
}

.margin {
	max-width: 1200px;
	/* border: 1px solid crimson; */
}

header {
	height: 100vh;
	background-image: url(assets/baking.jpg);
	background-size: cover;
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	align-content: space-between;

	text-align: center;
}
header p {
	font-size: 2rem;
	color: var(--light);
}
header h1 {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 300;
	font-size: 8rem;

	color: var(--light);
	line-height: 0.7;
	margin-top: 2rem;
}

.feature {
	padding: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--dark);

}
.align_flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.featureText {
	width: 50%;
	text-align: right;
}
.feature h2 {
	color: var(--bold-brown);
	font-family: 'Cormorant Garamond', serif;
	margin-bottom: 1rem;
	font-size: 3rem;
}
.feature p {
	font-size: 1rem;
}
.feature p:first-of-type {
	margin-bottom: 1rem;
	font-size: 1.3rem;
}
.spacer {
	width: 0rem;
}
.img {
	width: 50%;
	text-align: center;
}
.feature img {
	width: 75%;
	max-width: 700px;
	border-radius: 5px;
}

.display {
	background-color: var(--light);
	width: 100%;
	padding-bottom: 2rem;
	text-align: center;

	display: flex;
	justify-content: center;

}
.galery {
	margin: auto;
	width: 95%;
	background-color: var(--bold);

	border-radius: 10px;
	border-bottom: 3px dashed var(--dark);
	color: var(--dark);

	position: relative;
	bottom: 5%;

}
.products_flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.product {
	width: 29%;
	padding: 0.4rem;

	border-bottom: 1px solid var(--light);
	border-radius: 5px;

	margin-top: 1.5rem;
}
/* .product:last-of-type {
	margin-bottom: 1.5rem;
} */
.product img {
	width: 100%;
	border-radius: 5px;
}
.product h3 {
	font-size: 2rem;
	color: var(--bold-brown);
	font-family: 'Cormorant Garamond', serif;
}
.product > p {
	margin-top: 0.5rem;
	color: var(--dark);
}
.galery .link{
	color: var(--dark);
	margin: 2rem 0;
}
a {
	color: var(--bold-brown);
}

@media(max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}
@media(max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}