:root {
	--light: #ebd7c6;
	--bold: #738b84;
	--bold-brown: #e3d1bb;
	--brown: #a59281;
	--dark: #252020;

}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Quicksand', sans-serif;
	color: var(--brown);
}

p {
	letter-spacing: 3px;
}
::selection {
	background-color: rgba(81, 60, 44, 0.8);
	color: var(--light);
}
.margin {
	max-width: 1200px;
}

header {
	padding: 0.5rem 2rem;
	background-color: var(--bold);
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	position: -webkit-sticky;
	top: 0;
}
header h1 {
	color: var(--bold-brown);
	font-family: 'Cormorant Garamond', serif;
}
header a {
	color: var(--dark);
}

.galery_all {
	padding: 2rem;
	background-color: var(--dark);
}
.galery_all_flex {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3rem;
	margin: auto;
}
.product {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}
.product img {
	width: 100%;
}
.product h3 {
	font-family: 'Cormorant Garamond', serif;
	color: var(--bold);
	margin-top: 1rem;
	font-size: 2rem;
}
.product p {
	font-size: 1.5rem;
}

@media(max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}
@media(max-width: 770px) {
	html {
		font-size: 83.5%;
	}
}
@media(max-width: 620px) {
	html {
		font-size: 80%;
	}
	header {
		width: 100%;
		position: static;
		padding: 1rem;
		box-sizing: border-box;
	}
	header h1 {
		font-size: 3rem;
	}
	header a {
		font-size: 1.5rem;
	}

	.galery_all_flex {
		display: block;
	}
	.product h3 {
		font-size: 3rem;
	}
	.product p {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}
@media(max-width: 540px) {
	html {
		font-size: 75.5%;
	}
	header {
		width: 100%;
		position: static;
		padding: 1rem;
		box-sizing: border-box;
	}
	header h1 {
		font-size: 1.8rem;
	}
	header a {
		font-size: 1rem;
	}
	
}